<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <th:block th:fragment="headerFragement">
    <nav class="navbar navbar-expand-lg bg-dark text-light">
      <div class="container-fluid">
        <a class="navbar-brand text-light" href="/home/home">Coffee Order</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link text-light" aria-current="page" href="/home/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="/menu/menu">커피메뉴</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="/order/order">주문내역</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="/member/member">고객정보</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </th:block>
</html>